<%- include('partials/header') %>

  <div class="center">
    <h1 class="form-heading">Admin Log In</h1>
    <form action="" method="post">
      <div class="form-group">
        <label for="adminCode">Enter Secret Passcode</label>
        <input type="password" id="adminCode" name="adminCode">
      </div>
      <button type="submit">Admin Log In</button>
    </form>
  </div>

<%- include('partials/footer') %>
