<%- include('partials/header') %>

    <div class="error">
        <h1><%= status %></h1>
        <h2><%= message %></h2>
        <p class="attribute"><a href="https://www.freepik.com/free-vector/internet-network-warning-404-error-page-file-found-web-page_16304926.htm#query=error&position=18&from_view=search&track=sph">Image by jcomp</a> on Freepik</p>
    </div>

<%- include('partials/footer') %>
