<%- include('partials/header') %>

  <nav>
    <li class="logo"><a href="/"><span class="material-symbols-outlined">house</span>Secrets</a></li>
    <li><a href="/log-in">Log In</a></li>
    <li><a href="/sign-in">Sign In</a></li>
  </nav>

  <div class="center" method='POST'>
    <h1 class="form-heading">Member Log In</h1>
    <form action="">
      <div class="form-group">
        <label for="memberSecret">Enter Secret Passcode</label>
        <input type="password" id="memberSecret" name="memberSecret">
      </div>
      <button type="submit">Member Log In</button>
    </form>
  </div>

<%- include('partials/footer') %>
